



/* font style */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*...........share style....... */

.btn-primary{
    background-color: #4E47FF;
    padding: 10px 35Px;
    color: white;
    border-radius: 10px;
    border: none;
     font-size: 16px;
     font-weight: bold;
    height: 40px;
    width: auto;

   } 

.text-align{
    text-align: center;
}



/*...... nav style........ */

/* nav title */



nav h1{
    color: #4E47FF;
    font-size: 34;
    font-weight: 900;
}

.nav-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;

   
    
 
}

/* nav button style */
nav button a ,.bnr-buton{
    text-decoration: none;
    font-size: 16px;
   
 
    color: #FFFFFF;
}


/* ..........bannerstyle..... */


.banner-bg{
    background-image: url('../Assets/Hero-bg.png');
    
}

.banner-contant{
    font-size: 65px;
   font-weight: bold;
    color: #252432;
}


.banner{
    padding: 200px 267.5px 152px 267.5px;

}

.btn-contant{
    text-align: center;
    padding: 37px 0 0 0 ;
}

/* .........main section style.......... */

main{
    margin: 130px 150px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    line-height: 1px;
}
.action-description{
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
}
.action-colum img{
    border-radius: 48px;
}

.action-container{
    display: flex;
    justify-content: space-between;
}

.action-colum{
    width: 520px;
}

/* ...main section user sectioin.......... */


.section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.user-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.user-sub-title{
    font-size: 20px;
    font-weight: 400px;
    color: #00000055;
}

.user-section{
    background-color: #4d47ff2a;
    padding: 50px 140px;
    border-radius: 25px;
}

.user-data{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

/* ..........user profile style........... */

.container-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}

.user-feedback-card{
    display: flex;
    gap: 20px;
    padding: 10px;
    /* box-shadow: 10px 10px 10px black; */
}
.user{
   width: 265px;
   height: 200px;
   box-shadow: 10px 10px 10px #F2EDED;
   padding: 24px;
}

.star-icon{
    padding-top: 24px;
    padding-bottom: 24px;
}

.users-title{
    font-size: 20px;
    font-weight:bold ;
    color: #1E1E1E;
}

.about-description{
     font-size: 16px;
    font-weight: 250;

}


.user-profile{
    display: flex;
    gap: 6px;
    padding-bottom:0px ;

}
.user-name{
    color: #757575;
    font-size: 16px;
}

.user-date{
    color: #B3B3B3;
    font-size: 16px;
}


/* ........touch comment style......... */
.touch-bg{
     background-color: #eef3fdfe;
     border-radius: 10px;
    
}


.touch-section-container{
    display: flex;
   
    gap: 120px;
    padding: 70px;
}
.touch-contant{
    font-size: 97px;
    font-weight: bold;
    width: 900px;
    padding: 100px 0;
}

table label{
    display: block;
}

.touch-table-contant label{
    font-size: 20px;
    font-weight: 500;
   
    
   
   

}

.touch-table-contant input{
    height: 65px;
    width: 100%;
     border: none;
      border-radius: 10px;
      padding-left: 20px;
      
      
   
}

.touch-table-contant textarea{
     height: 100px;
    width: 100%;
  border-radius: 10px;
   border: none;
   padding-left: 20px;
   
  
}

.touch-button{
    background-color: #4E47FF;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
  
    
}

/* ............footer styl........ */

footer{
    padding: 0 455px 50px 455px ;
}

footer .footer-container{
    /* padding: 105px 455px; */
    text-align: center;
}

.footer-title h1{
    font-size: 100px;
    font-weight: 900px;
    color: #4E47FF;
    line-height: 1px;
}

.footer-description{
    font-size: 16px;
    font-weight: 400px;
    color: #8987A1;
}


/* ..........footer bar....... */

.footer-bar ul a{
    text-decoration: none;
}

.footer-bar ul li{
    list-style: none;
}

.footer-bar ul {
    display: flex;
    justify-content: space-around;
}